body {
    font-family: 'Roboto', sans-serif;
    background-color: #E3E3E3
}

/* _________________________________________________________________________ */

/* barra menu superior */
nav {
    background-color: black;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #fc3c44;
    /* color: black; */
  }

  .container {
    background-color: rgba(255, 255, 255, 0.4); /* Opacidad del 0.4 */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    display: flex;
    align-items: center; /* Centrar verticalmente */
  }
  
  .container img {
    width: 50%; /* Tamaño de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .container p {
    font-size: 24px; /* Tamaño del texto */
    margin: 0; /* Elimina el margen por defecto */
  }

/* _________________________________________________________________________ */
.cuadro-flotante {
    background-color: white;
    padding: 20px;
    overflow: hidden;
    display: flex;
    /* align-items: center;    PONE TODO EN EL CENTRO*/
    margin-top: 50px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 80%;
    height: auto; /* ajusta este valor al deseado */
  }

  .texto {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

/* _________________________________________________________________________ */

  