body {
    font-family: 'Roboto', sans-serif;
    background-color: #E3E3E3
}

/* barra menu superior */
nav {
    background-color: black;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #fc3c44;
    /* color: black; */
  }

/* _________________________________________________________________________ */

.container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 50%;
  margin-right: 20px;
}

.texto {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.contenidoTexto {
  font-size: 50px;
  font-weight: bold;
}

.cuadro-flotante1 {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  width: 80%;
  height: 400px;
  margin: 0 auto;
}


/* _________________________________________________________________________ */

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    color: #fc3c44;
    backdrop-filter: blur(10px);
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer-container p {
    margin: 10px 0;
  }
  
  .footer-container a {
    color: #fc3c44;
    text-decoration: none;
  }